<!DOCTYPE html>
<html lang="en">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login-register.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camfall-Server</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <h1>Camfall-Server</h1>
            <p>Welcome to Camfall-Server. This is the home page.</p>
            <p>Click <a href="/login">here</a> to login.</p>
            <p>Click <a href="/register">here</a> to sign up.</p>
        </div>
        
    </div>

</body>
</html>