<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login-register.css') }}">
<title>Login Page</title>

</head>
<body>
    <div class="container">
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div>
                <label class="checkbox">
                    <input type="checkbox" checked="checked" name="remember" id="remember"> Remember me
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <div class="bottom-text">
                <p>Haven't sign up yet? <a href="{{url_for('auth.signup')}}">click here</a></p>
            </div>
        </form>
    </div>
    <script>

    </script>
</body>
</html>
